@use 'theme';

* {
  all: unset;
  font: 18px JetBrainsMonoNerdFontMono;
}

window#TopBar {
  background: theme.$nord00;
  border-bottom: 1px solid theme.$nord14;
  padding: 0 6px;

  .icon { color: theme.$nord13; }

  .time, .date {
    background: theme.$nord01;
    border: 1px solid theme.$nord02;
    margin: 5px 0;

    &.time { border-radius: 11px 5px 5px 11px; }
    &.date { border-radius: 5px 11px 11px 5px; }
  }

  .workspaces {
    background: theme.$nord01;
    border: 1px solid theme.$nord02;
    border-radius: 11px;
    margin: 5px 0;
  }

  .workspaceButton { color: theme.$nord03; transition: color 0.2s; }
  .occupiedWorkspace { color: theme.$nord04; }
  .workspaceButton:hover,
  .focusedWorkspace { color: theme.$nord13; }

  .battery,
  .volume {
    background: theme.$nord01;
    border: 1px solid theme.$nord02;
    margin: 5px 0;
    padding: 0 10px;

    &.battery { border-radius: 5px 11px 11px 5px; }
    &.volume { border-radius: 11px 5px 5px 11px; }

    scale trough highlight {
      all: unset;
      background: theme.$nord14;
      border-radius: 5px;
      color: #000000;
    }

    scale trough {
      all: unset;
      background: theme.$nord03;
      border-radius: 5px;
      min-width: 100px;
      min-height: 10px;
    }
  }
}

window#BottomBar {
  background: theme.$nord00;
  border-top: 1px solid theme.$nord14;
  padding: 0 6px;
}

window#Launcher {
  .contentBox {
    background: theme.$nord00;
    border: 1px solid theme.$nord14;
    border-radius: 5px;
    padding: 5px;
  }

  .searchIcon {
    background: theme.$nord01;
    color: theme.$nord13;
    border: 1px solid theme.$nord14;
    border-radius: 5px;
  }

  .searchBox {
    background: theme.$nord01;
    border: 1px solid theme.$nord14;
    border-radius: 5px;
    min-height: 40px;

    text { margin-left: 5px; }
  }

  .appButton {
    background: theme.$nord01;
    border: 1px solid theme.$nord02;
    border-radius: 5px;
    padding: 5px 10px;
    min-height: 30px;

    &:hover {
      background: theme.$nord02;
      color: theme.$nord13;
      border: 1px solid theme.$nord14;
    }
  }
}

window#Settings {
  .contentBox {
    background: theme.$nord00;
    border: 1px solid theme.$nord14;
    border-radius: 5px;
    padding: 5px;
  }

  .entry {
    background: theme.$nord01;
    border: 1px solid theme.$nord02;
    border-radius: 5px;
  }

  .switch {
    background: theme.$nord02;
    border: 1px solid theme.$nord03;
    border-radius: 20px;

    slider {
      background: theme.$nord03;
      border-radius: 20px;
    }

    &:checked slider {
      background: theme.$nord14;
    }
  }
}
